header,main,article,aside,footer{
    border: 3px solid red;
    background-color: lightblue;
    height: 200px;
    margin: 0px 2px 8px 2px;
}


header {
    width: auto;
}

main {
    width: 50%;
    overflow:hidden;
}

article,aside {
    display: inline-block;
    width: 25%;
}

article {
    margin: 0px 8px 0px 8px;
}

.containter{
    margin: auto;
    width: 100%;
    display: inline-flex;
}