html{
    background-color: lightyellow;
}

table, td{
    border: 1px solid;
    padding: 10px;
    border-spacing: 5px;
}

td{
    text-align: left;
    height: 5px;
    width: 40px;
    vertical-align: top;
}

.table-row3{
    height: 100px;
}